<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"></meta>

    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title>星之海志愿者公会</title>
    <link rel="stylesheet"
          href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
    <link rel="stylesheet"
          href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
    <link rel="stylesheet" href="/mobile/mynavbar_mobilepage.min.css"></link>
    <link rel="stylesheet" href="/mobile/myfootbar_mobilepage.min.css"></link>
    <link rel="stylesheet" href="/mobile/all_activitym.min.css"></link>

</head>

<body class="container-fluid">
<div class="navbartop row">
    <div class="navbar-header col-xs-3">
        <a href="/"><img src="/starsea.png" class="navimg img-responsive"></img></a>
    </div>
    <div class="navbar-right col-xs-9 text-right">
        <a href="/work" class="ma text-right">作品</a>
        <a href="/activity" class="ma text-right">活动</a>
        <a href="/mintro.html" class="ma text-right">关于</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 imgbarcontainer">
        <img class="imgbar" src="/navbar.jpg" ></img>
    </div>
</div>

<div class="pagetitle row">
    <h1 class="h1 pagetitleh1">活动众筹</h1>
    <h2 class="h2 pagetitleh2">Crowd Raising</h2>
</div>

<div class="nowactbox row">
    <div class="nowactimg  col-xs-5">
        <img th:attr="src=${newResult.activityCover}"
             class="img-reponsive"></img>
    </div>
    <div class="nowactdetail col-xs-7">
        <h3 th:text="${newResult.activityName}" class="h3 nowacttitle">当前活动名</h3>
        <br></br> <br></br> <br></br>
        <p th:text="${newResult.activitySummary}" class="p nowactdetail">几句话来介绍当前的活动</p>
        <br></br> <br></br> <br></br> <a
            th:href="@{'/activity/'+${newResult.activityId}}"
            class="a nowactbutton" href="javascript:void(0)">点击打开详情页面</a>
    </div>
    <br/> <br/> <br/>
</div>
<br/> <br/> <br/>

<div class="previousact container row">
    <div class="activityclass" id="activitys">

        <div class="actlist container" th:each="activity:${result}">
            <div class="actbox row">
                <div class="col-xs-4 actname">
                    <p th:text="${activity.activityName}" class="lead">活动名称</p>
                </div>
                <div class="col-xs-4 endtime">
                    <p th:text="${activity.activityEndtime}">活动结束日期</p>
                </div>
                <div class="col-xs-4 actdetail">
                    <a class="detailbutton btn-lg" th:href="@{'/activity/'+${activity.activityId}}">
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <br/>

    <div class="row container">
        <div class="pagebox col-md-4">

        </div>

        <div id="pages" class="pagebox row col-md-4 ">
            <div class="col-xs-4" id="frontbox">
                <a href="javascript:void(0)" class="pagebutton" id="front"
                   th:text="${nowPage}-1 gt 0 ? ${nowPage}-1 : null">
                    t
                </a>
            </div>
            <div class="col-xs-4">
                <span  class="pagebutton" th:text="${nowPage}">
                        e
                </span>
            </div>
            <div class="col-xs-4" id="backbox">
                <a href="javascript:void(0)" class="pagebutton" id="back"
                   th:text="${nowPage}+1 le ${totalPage}? ${nowPage}+1 : null">
                    st
                </a>
            </div>
        </div>

        <div class="pagebox col-md-4 right">

        </div>
    </div>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<form id="activityDetail" class="row" action="/activity/detail" method="get">
    <input id="activityId" type="hidden" name="activityId"/>
</form>


<div class="mfoot text-center row">
    <p class="footp">互联网ICP备案：鲁ICP备17053445号</p>
</div>

<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/common.min.js"></script>
<script src="/activity.min.js"></script>
<script src="/mobile/all_activitym.min.js"></script>
</body>

</html>