<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"></meta>

    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title>星之海志愿者公会</title>
    <link rel="stylesheet"
          href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
    <link rel="stylesheet"
          href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
    <link rel="stylesheet" href="/mobile/mynavbar_mobilepage2.min.css"></link>
    <link rel="stylesheet" href="/mobile/myfootbar_mobilepage.min.css"></link>
    <link rel="stylesheet" href="/mobile/sucanderrm.min.css"></link>
</head>

<body class="container-fluid">
<div class="row navbarrow">
    <img src="/navbar.jpg"  class="navbarimg" alt=""></img>
</div>
<nav class="container-fluid row navbar navbar-brand navbar-static-top heading"
     role="navigation" id="mybar">
    <div class="navbar-header">
        <a href="/" class="navimg">
            <img src="/starsea.png" class="navimg"></img>
        </a>
        <button class="navbar-toggle" data-toggle="collapse"
                data-target="#shownav" id="btnnav">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="shownav">
        <ul class="nav navbar-nav mynavul">
            <li class="myli"><a href="/work" class="anav">作品阅览</a></li>
            <li class="myli"><a href="/activity" class="anav">活动众筹</a></li>
            <li class="myli"><a href="/intro.html" class="anav">组织介绍</a></li>
        </ul>
    </div>
</nav>


<div class="container text-center mainblock" >
    <div class="row">
        <div class="col-xs-12 colgrey">
            <img class="mainimg" src="/bubudia.png" />
        </div>
    </div>
    <div class="row colgrey">
        <div class="col-xs-12">
            <h3 th:text="${errInfo}" class="h3">No error data</h3>
        </div>
    </div>
</div>

<div class="row mfoot navbar-fixed-bottom text-center">
    <p class="footp" >互联网ICP备案：鲁ICP备17053445号</p>
</div>


<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>