<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" href="/mobile/mynavbar_mobilepage2.min.css"></link>
<link rel="stylesheet" href="/mobile/myfootbar_mobilepage.min.css"></link>
<link rel="stylesheet" href="/mobile/orders_detailsm.min.css"></link>

</head>

<body class="container-fluid">
	<div class="row navbarrow">
		<img src="/navbar.jpg"  class="navbarimg" alt=""></img>
	</div>
	<nav class="container-fluid row navbar navbar-brand navbar-static-top heading"
		 role="navigation" id="mybar">
		<div class="navbar-header">
			<a href="/" class="navimg">
				<img src="/starsea.png" class="navimg"></img>
			</a>
			<button class="navbar-toggle" data-toggle="collapse"
					data-target="#shownav" id="btnnav">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse navbar-right" id="shownav">
			<ul class="nav navbar-nav mynavul">
				<li class="myli"><a href="/work" class="anav">作品阅览</a></li>
				<li class="myli"><a href="/activity" class="anav">活动众筹</a></li>
				<li class="myli"><a href="/intro.html" class="anav">组织介绍</a></li>
			</ul>
		</div>
	</nav>


	<div class="container">
		<h1 class="h2">收货人信息</h1>

		<div class="col-xs-6">
			<p>收货人姓名:</p>
		</div>
		<div class="col-xs-6" th:text="${order.orderName}"></div>

		<div th:each="orderDetail:${orderDetails}">
			<div class="col-xs-6">
				<p>作品名称:</p>
			</div>
			<div class="col-xs-6" th:text="${orderDetail.workName}"></div>

			<div class="col-xs-6">
				<p>作品类型:</p>
			</div>
			<div class="col-xs-6" th:text="${orderDetail.workTypeName}"></div>
		</div>


		<div class="col-xs-6">
			<p>收获详细地址:</p>
		</div>
		<div class="col-xs-6" th:text="${order.orderAddress}"></div>

		<div class="col-xs-6">
			<p>发货状态:</p>
		</div>
		<div class="col-xs-6" th:text="${order.orderStatus}"></div>

		<div class="col-xs-6">
			<p>快递单号:</p>
		</div>
		<div class="col-xs-6" th:text="${order.orderExpressnum}"></div>

		<div class="col-xs-6">
			<p>下单时间</p>
		</div>
		<div class="col-xs-6" th:text="${order.orderTime}"></div>

		<div class="col-xs-6">
			<p>电子邮件:</p>
		</div>
		<div class="col-xs-6" th:text="${order.orderEMail}"></div>

		<div class="col-xs-6">
			<p>备注:</p>
		</div>
		<div class="col-xs-6" th:text="${order.orderRemark}"></div>
		<div class="col-xs-6">
			<form id="modifySendForm" action="/order/address/send" method="post">
				<input type="hidden" name="orderNum" th:value="${order.orderNum}" />
			</form>
		</div>
		<button id="modifyAddressBtn" class="btn btn-danger">修改地址</button>
	</div>
	<div class="row mfoot text-center">
		<p class="footp">互联网ICP备案：鲁ICP备17053445号</p>
	</div>


	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script th:inline="javascript">
/*<![CDATA[*/
var orderStatus=/*[[${order.orderStatus}]]*/;
$("#modifyAddressBtn").hide();
if(orderStatus=="未发货"){
	$("#modifyAddressBtn").show();
}
/*]]>*/
</script>
	<script>
	$(function(){
		 $("#modifyAddressBtn").on("click",function(e){
			 $("#modifySendForm").submit();
		 });
	});
</script>
</body>
</html>