<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <title>Title</title>

</head>
<body>

<div class="container">

                    <div class="tab">
                       <div class="row container form">
                           <form class="form" action="activity/" method="get">
                               <input type="text" name="activityName">
                               <input type="submit" value="查询活动" class="btn btn-info btn-lg text-right">
                           </form>

                       </div>
                        <br>                        <br>                        <br>
                        <!-- -->

                        <div class="row container" style="height: 500px;">
                            <table class="table">
                                <tr>
                                    <th>活动名</th>
                                    <th>活动状态</th>
                                    <th><button id="addfun" class="btn btn-info btn-lg text-right">添加活动</button></th>
                                </tr>
                                <tr id="？？？">
                                    <td id="actname"><script>
                                    document.write("从服务器获取的活动名字");
                                    </script></td>
                                    <td id="actstaus"><script>
                                    document.write("从服务器获取的活动的状态");
                                    </script></td>
                                    <td id="func">
                                        <button id="deletefun" class="btn btn-danger btn-lg text-right">删除活动</button>
                                        <button id="detailfun" class="btn btn-primary btn-lg text-right">活动详情</button>
                                    </td>

                                </tr>

                            </table>
                        </div>
                        <div id="addact" >
                            <form class="form" method="post" action="activity/add">
                                <table class="table">
                                <tr>
                                    <td>请输入活动名称：</td>
                                    <td><input name="activityName" type="text"></td>
                                </tr>
                                <tr>
                                    <td>输入具体内容:</td>
                                    <td><input name="activityContent" type="text" style="height: 100px;"><br></td>
                                </tr>
                                <tr><td></td><td><input type="submit" value="添加活动" class="btn btn-success btn-lg text-right"></td></tr>

                                </table>
                            </form>
                        </div>
                        <div id="showdetail" >
                            <h1 id="showactname">12</h1>
                            <br>
                            <p id="showactcontent">13</p>
                            <br>
                            <p id="showactstatus"><button id="changestatus" class="btn btn-primary btn-lg text-right">更改活动状态</button></p>
                            <div id="changecontainer">
                                <form class="form">
                                    <input type="radio" value="准备众筹" name="status">
                                    <input type="radio" value="开始众筹" name="status">
                                    <input type="radio" value="结束众筹" name="status">
                                    <button class="btn btn-primary btn-lg text-right" id="checkchange">确认改变</button>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>

<script>
    $("#addact").hide();
    $("#showdetail").hide();
    $("#changecontainer").hide();
</script>

<script>
    $("#addfun").click(function () {
        if(document.getElementById("addact").style.display=="none")
        {$("#addact").show();}
       else {$("#addact").hide();}

    })
</script>
<script>
    $("#detailfun").click(function () {
        $.ajax({
            url: activity/detail,
            type: "GET",
            data: {activityId: "???"},
            success: function (result) {
                $("#showdetail").show();
                $("#showdetail").append(result);
            }
        })
    })
    </script>
<script>
    $("#deletefun").click(function () {
        $.post("activity/remove", {
            activityId: "???"
        })
    })
</script>
<script>
    $("#changestatus").click(function () {
        $("#changecontainer").show();
    })
</script>
<script>
    $("#checkchange").click(function () {
        //z准备后台后修改
        var id=1;

        $.ajax({
            type:"post",
            url:"activity/modify",
            data:{activityId:id,activityStatus:0},
            success:function () {
                window.alert("修改状态成功！");
                $("#checkchange").hide();
            }


        })
    })
</script>


</body>
</html>