<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/mycss.css"></link>

<style>
.heading {
	background-image: url("/navbar.jpg");
	height: 360px;
	background-repeat: no-repeat;
}

#btnnav {
	float: right;
}

.myli {
	color: #fff;
}

.myli:hover {
	text-decoration: underline;
}

.footbar {
	background-image: url("/wavew.png");
	background-repeat: repeat-x;
	height: 120px;
	backgroud: #409cc3;
}

.navimg {
	transition: all 0.6s;
}

.navimg:hover {
	transform: scale(1.4);
}

.abnav {
	color: #FFFFFF;
	font-size: 1.5em;
}

a:hover {
	color: rgb(7, 251, 251);
}
</style>
</head>
<body>
	<div class="container"
		style="width: 100%; padding: 0%; margin: 0%; border: 0%;">
		<nav class="navbar navbar-brand navbar-static-top heading"
			role="navigation" id="mybar"
			style="background-size: 99%; margin: 15px; padding: 10px; height: auto;">

			<div class="navbar-header"
				style="padding-left: 25px; padding-top: 10px;">
				<a href="/" class="navimg"> <img src="/starsea.png"
					style="width: 70px;" class="col-sms-4 navimg"></img>
				</a>
				<button class="navbar-toggle col-sm-4" data-toggle="collapse"
					data-target="#shownav" id="btnnav">
					<span class="glyphicon glyphicon-menu-hamburger"></span>

				</button>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="shownav">
				<ul class="nav navbar-nav mynavul">
					<li class="myli"><a href="/work" class="anav">作品阅览</a></li>
					<li class="myli"><a href="/activity" class="anav">活动众筹</a></li>
					<li class="myli"><a href="/intro.html" class="anav">组织介绍</a></li>
				</ul>
			</div>
			<img src="/navbar.jpg"
				style="visibility: hidden; display: block; width: 100%; height: 25vh;"
				alt=""></img>
		</nav>
	</div>

	<div class="container">
		<h1 class="h2">收货人信息</h1>

		<form id="addOrderForm" action="/order/add" method="post">


			<div class="col-xs-6" style="margin-top: 15px;">
				<p>收货人姓名:</p>
			</div>
			<div class="col-xs-6" style="margin-top: 15px;">
				<input type="text" name="orderName" id="ordname" />
			</div>

			<div class="col-xs-6" style="margin-top: 15px;">
				<p>手机号:</p>
			</div>
			<div class="col-xs-6" style="margin-top: 15px;">
				<input type="text" name="orderPhone" id="ordphone" />
			</div>

			<div class="col-xs-6" style="margin-top: 15px;">
				<p>收货地址</p>
			</div>
			<div class="col-xs-6" style="margin-top: 15px;">
				<select id="province">
					<option>请选择省份</option>
					<option th:each="province:${provinces}" th:value="${province.key}"
						th:text="${province.value.provinceName}"></option>
				</select> <select id="city" disabled="disabled">
				</select> <select id="area" disabled="disabled">
				</select> <input type="hidden" id="areasub" name="orderArea" />
			</div>
			<div class="col-xs-6" style="margin-top: 15px;">
				<p>收货详细地址</p>
			</div>
			<div class="col-xs-6" style="margin-top: 15px;">
				<input type="text" name="orderAddress" id="ordadddel" />
			</div>
			<div class="col-xs-6" style="margin-top: 15px;">
				<p>收货人电子邮箱：(*接收运单号使用)</p>
			</div>
			<div class="col-xs-6" style="margin-top: 15px;">
				<input type="text" name="orderEmail" id="ordemail" />
			</div>


			<div class="col-xs-6" style="margin-top: 15px;">
				<p>备注:</p>
			</div>
			<div class="col-xs-6" style="margin-top: 15px;">
				<input type="text" name="orderRemark" id="orderRemark" />
			</div>

			<div class="col-xs-6" style="margin-top: 15px;">
				<p style="font-size: 12px">(*您有什么想对我们说的？或者有什么特殊要求？请在这里告诉我们)</p>
			</div>
			<div class="col-xs-6" style="margin-top: 15px;"></div>
			<div th:each="workType,status:${workTypes.workTypes}">
				<input type="hidden" th:name="'orderDetails['+${status.index}+'].workId'" th:value="${workType.workId}"/>
				<input type="hidden" th:name="'orderDetails['+${status.index}+'].workTypeId'" th:value="${workType.workTypeId}"/>
			</div>
			<input type="hidden" name="token" th:value="${token}" />

		</form>
		<button id="addOrderBtn" class="btn btn-danger">提交</button>
	</div>
	<div class="footbar text-center">
		<p style="padding-top: 100px;">互联网ICP备案：鲁ICP备17053445号</p>
	</div>

	<script src="/navbar.js"></script>

	<script src="/add_order.js"></script>
	<script th:inline="javascript">
		$(function () {
			let provinces = [[${provinces}]];
		    let citys;
		    $("#province").on("change",function(e){
		    	let provinceId=$(e.target).val();
		    	citys=provinces[provinceId].citys;
		    	let str=`<option>请选择城市</option>`;
		    	for(let city in citys){
		    		str+=`<option value='${citys[city].cityId}'>${citys[city].cityName}</option>`;
		    	}
		    	$("#area").html("").attr("disabled","disabled");
		    	$("#city").html(str);
		    	if($("#city").attr("disabled")=="disabled"){
		    		$("#city").removeAttr("disabled");
		    	}
		    });
		    $("#city").on("change",function(e){
		    	let cityId=$(e.target).val();
		    	let areas=citys[cityId].areas;
		    	let str=`<option>请选择区县</option>`;
		    	for(let area in areas){
		    		str+=`<option value='${areas[area].areaId}'>${areas[area].areaName}</option>`;
		    	}
		    	$("#area").html(str);
		    	if($("#area").attr("disabled")=="disabled"){
		    		$("#area").removeAttr("disabled");
		    	}
		    });
		});
	</script>
</body>
</html>