<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" href="wangEditor.min.css"></link>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="mycss.css"></link>
<style>
.main {
	width: 100%;
	background-image: url("Main.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.title {
	font-size: 3.8em;
	color: #ffffff;
	text-shadow: 2px 2px 2px #37eeff;
}

.secondtitle {
	font-size: 1.7em;
	font-style: oblique;
	color: #FFFFFF;
}

.mymain {
	clear: both;
	border: 0px;
	padding: 0px;
	margin: 0px;
	background-image: url("club.jpg");
	width: 100%;
}

#shownav {
	float: right;
}

a.btn-lg:hover {
	
}
</style>

</head>

<body>
	<div class="container">
		<nav class="navbar navbar-brand navbar-fixed-top my-navbar"
			role="navigation" id="mybar">

			<div class="navbar-header">

				<img src="starsea.png" style="height: 70px; width: 70px;"
					class="col-sms-4"></img>

				<button class="navbar-toggle col-sm-4" data-toggle="collapse"
					data-target="#shownav" id="btnnav">
					<span class="glyphicon glyphicon-menu-hamburger"></span>

				</button>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="shownav">
				<ul class="nav navbar-nav mynavul">
					<li><a href="/work" class="anav">作品阅览</a></li>
					<li><a href="/activity" class="anav">活动众筹</a></li>
					<li><a href="/order/getWorks" class="anav">旧货处理</a></li>
					<li><a href="/intro.html" class="anav">组织介绍</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="container main" style="clear: both" id="homepage">
		<div></div>
		<h1 class="lead  text-center title" id="homeword">
			<small style="color: inherit">我们是</small>星之海志愿者公会
		</h1>
		<h2 class="lead  text-center secondtitle">致力于传递LoveLive
			Sunshine的魅力，Aqours events相关应援</h2>
	</div>
	<div class="container mymain">
		<div class="" id="jieshao">
			<h1 class="text-right h1" id="jieshaoh1">Who's 星之海</h1>
			<p></p>
			<p class="text-right " id="jieshaoh2">
				星之海的主要工作是为Aqours在国内进行的活动制作callbook、应援物进行免费的发放，并在live时为大家提供力所能及的志愿服务。<br />
				想要以那“第十人”为目标，努力做到最好！<br />
				<br /> <a href="intro.html" class="btn btn-info btn-lg text-right"
					role="button">About us</a>
			</p>
		</div>
	</div>


	<script src="indexno.js"></script>

	<script src="index.js"></script>


</body>

</html>