<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <title>Title</title>

</head>
<body>
<div class="container">
    <div class="row container form">
        <form class="form" action="work/" method="get" id="mainquery">
            <input type="text" name="orderName" id="text">
            <button id="orderquery" class="btn btn-info btn-lg text-right">订单查询</button>
        </form>
    </div>
    <br>    <br>    <br>
    <div class="row container">
        <table class="table">
            <tr>
                <th>订单号</th>
                <th>收货人姓名</th>
                <th>订单状态</th>
                <th>下单时间</th>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <Td></Td>
                <td></td>
                <td>
                    <button class="btn btn-primary btn-lg text-right" id="queryorder">查询订单</button>
                    <button class="btn btn-danger btn-lg text-right" id="deleteorder">删除订单</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="container" id="showdetail">
        <table class="table">
            <tr>
                <td>作品名称</td>
                <td id="workname"></td>
            </tr>
            <tr>
                <td>收货人姓名</td>
                <td id="ordername"></td>
            </tr>
            <tr>
                <td>省份</td>
                <td id="province"></td>
            </tr>
            <tr>
                <td>城市</td>
                <td id="city"></td>
            </tr>
            <tr>
                <td>区县</td>
                <td id="area"></td>
            </tr>
            <tr>
                <td>详细地址</td>
                <td id="orderaddress"></td>
            </tr>
            <tr>
                <td>订单状态</td>
                <td id="orderstatus"></td>
            </tr>
            <tr>
                <td>快递单号</td>
                <td id="orderexpressnum"></td>
            </tr>
            <tr>
                <td>下单时间</td>
                <td id="ordertime"></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-primary btn-lg text-right" id="callchangedetail">修改发货状况</button></td>
            </tr>
        </table></div>
        <div class="container" id="changedetaildiv">
            <form class="form" name="changeform">
                <input type="radio" name="changeradio" value="2">已发货<br>
                <input type="radio" name="changeradio" value="1">未发货<br>
                请输入运单号：<input type="text" id="expressnum">
                <button class="btn btn-primary btn-lg text-right" id="changedetail">确认修改</button>
            </form>

    </div>
    <script>
        var orderID;

        $("#showdetail").hide();
        $("#changedetaildiv").hide();
    </script><script>
        $("#orderquery").click(function () {
            var orderName =doucumet.getElementsById("text");
            $.ajax(
                {
                    type: "get",
                    data: orderName,
                    url: "order/",
                    success: function(result)
                        {
                            orderID = result.orderId;
                            //写入table的方法

                        }
        }
            )
        })         
        </script>
        <script>
        $("#queryorder").click(function () {
            
            if(document.getElementById("showdetail").style.display=="none")
            {$("#showdetail").show();}
            if(document.getElementById("showdetail").style.display!="none")
            {$("#showdetail").hide();}
            $.ajax(
                {
                    type:"get",
                    data:{orderNum:orderID},
                    url:"order/detail",
                    success:function (workName,orderName,province,city,area,orderAddress,orderStatus,orderExpressnum,orderTime) {
                        document.getElementById("workname").innerHTML=workName;
                        document.getElementById("ordername").innerHTML=orderName;
                        document.getElementById("province").innerHTML=province;
                        document.getElementById("city").innerHTML=city;
                        document.getElementById("area").innerHTML=area;
                        document.getElementById("orderaddress").innerHTML=orderAddress;
                        if(orderStatus==2)
                            document.getElementById("orderstatus").innerHTML="已发货";
                        if(orderStatus==1)
                            document.getElementById("orderstatus").innerHTML="未发货";
                        document.getElementById("orderexpressnum").innerHTML=orderExpressnum;
                        document.getElementById("ordertime").innerHTML=orderTime;
                    }
                }
            )
        })
</script>
<script>
        $("#callchangedetail").click(function () {
            if (document.getElementById("changedetaildiv").style.display == "none") {
                $("#changedetaildiv").show();
            }
            if (document.getElementById("changedetaildiv").style.display != "none") {
                $("#changedetaildiv").hide();
            }
        })
        $("#changedetail").click(function () {
            $.ajax(
                {
                    type:"post",
                    url:"order/modify",
                    data:{orderId:orderID,orderStatus:1,orderExpressnum:null,}
                }
            )
        })

</script>
        <script>
            $("#deleteorder").click(function () {
               $.ajax({
               type:"post",
                   data:{orderId:orderID},
                   url:"order/remove",
                   success:function () {
                       window.alert("删除成功！");
                   }
               })
            }
            )
    </script>
</div>
</body>
</html>