<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title></title>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/mycss.css"></link>

<style>
.heading {
	background-image: url("/navbar.png");
}

#btnnav {
	float: right;
}

#shownav {
	float: right;
}

.abnav {
	color: #FFFFFF;
	font-size: 1.5em;
}

a:hover {
	color: rgb(7, 251, 251);
}

.workname {
	background-color: #eeeeee;
	color: #23b1f7;
	padding-top: 35px;
	padding-bottom: 35px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.pdfiframe{
	width:100%;
	height:700px;;
	border:0px;
	
}
.uploadtime{
color: #999999;
}
</style>
</head>
<body>
<body>
	<div class="container"
		style="width: 100%; padding: 0%; margin: 0%; border: 0%;">
		<nav class="navbar navbar-brand navbar-static-top heading"
			role="navigation" id="mybar"
			style="background-size: 100% 100%; margin: 0%; padding: 0%;">

			<div class="navbar-header">

				<img src="/starsea.png" style="height: 70px; width: 70px;"
					class="col-sms-4"></img>

				<button class="navbar-toggle col-sm-4" data-toggle="collapse"
					data-target="#shownav" id="btnnav">
					<span class="glyphicon glyphicon-menu-hamburger"></span>

				</button>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="shownav">
				<ul class="nav navbar-nav mynavul">
					<li><a href="/work/" class="anav">作品阅览</a></li>
					<li><a href="/activity/" class="anav">活动众筹</a></li>
					<li><a href="/order/getWorks" class="anav">旧货处理</a></li>
					<li><a href="/intro.html" class="anav">组织介绍</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="pagetitle">
		<h1 th:text="${work.workName}" class="h1 workname text-center"></h1>
		<h4 th:text="'上传时间:'+${work.workUploadTime}+'&nbsp;&nbsp;点击量:'+${work.workClick}"
			class=" uploadtime text-center" ></h4>
		
	</div>
	<hr></hr>
	<div class="pdfcontainer">
	 
	<iframe th:attr="src='http://www.starrysea.top'+${work.workPdfpath}" class="pdfiframe"></iframe>
	
	<!--<p th:text="${work.workPdfpath}"></p>
	-->
	</div>
	
</body>
</body>
</html>